* {
  box-sizing: border-box;
}

body {
  font-family:"Times New Roman", Times, serif;
  background-color: #2B2D42;
  
}

.heading{
	color:#EDF2F4;
}
/* Style the header */
.header {
  grid-area: header;
  background-color: #EDF2F4;
  padding:30px;
  text-align: center;
  font-size: 35px;
  color:#2B2D42;
}

/* The grid container */
.grid-container{
  display: grid;
  grid-template-areas: 
      'header header header header' 
      'left left left left' 
      'right right right right' 
      'footer1 footer1 footer1 footer1'
	  'footer2 footer2 footer2 footer2';
      grid-template-columns: repeat(4, 25%);
}
  
 

.left,
.right,
.header,
.footer1, footer2 {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #8D99AE;
  font-size: 15px;
  color:#f1f1f1;
}

/* Style the right column */
.right {
  grid-area: right;
  background-color: #8D99AE;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-weight:bold;
}

.footer2 {
  grid-area: footer2;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-weight:bold;
  color:red;
}


#question {
  font-size: 2em;
  font-weight:bold;
}


.options {
   font-size:1.5em;
   padding:0.4em;
}

#lightbox{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.6);
}

#message{
	width:80%;
	padding:20px;
	background-color:#EDF2F4;
	color:black;
	text-align:center;
	font-size:50px;
	font-weight:bold;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

#question{
	font-size:50px;
	text-align:center;
	
}

#countdown{
	text-align:right;
	color:red;
}

h2{
	font-size:30px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (min-width: 768px) {
 .grid-container  {
  grid-template-areas: 
    'header header header header' 
    'left left right right' 
    'footer1 footer1 footer2 footer2';
}
}